.headbar {
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  background-color: #eb593c;
  border-bottom: 3px solid #fff;
  box-shadow: 0px 0px 5px #888888;
  color: #fff;
  font-family: Georgia,Times New Roman,Times,serif;
  font-size: 110%;
  height: auto;
  left: 0px;
  padding: 5px 0 5px 0;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.headbar-stub {
  height: 19px;
  left: 0px;
  padding: 7px 0 5px 0;
  position: fixed;
  text-align: center;
  top: -10px;
  width: 100%;
  z-index: 200;
}

.headbar span {
  float: left;
  padding-top: 2px;
  text-align: center;
  width: 95%;
}

.headbar-link {
  -moz-border-radius: 3px;
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.28);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.28);
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
  background: linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.28);
  color: white;
  padding: 2px 8px 1px 8px;
}

.headbar-up-arrow:hover {
  background: url(../images/headbar-up-arrow-hover.png);
}

.close-notify {
  background-color: #eb593c;
  color: #fff;
  cursor: pointer;
  float: right;
  height: 19px;
  margin-right: 22px;
  text-decoration: none;
  width: 17px;
}

.show-notify {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.35);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35);
  background-color: #eb593c;
  border: 3px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.35);
  color: #fff;
  cursor: pointer;
  float: right;
  height: 33px;
  margin-right: 10px;
  text-decoration: none;
  width: 35px;
}

.headbar-up-arrow {
  margin-left: 100%;
}

.headbar-down-arrow {
  margin-left: 4%;
}
